testcases/*/*
!testcases/*/*.in
!testcases/*/*.py
!testcases/*/*.md
!testcases/*/librpa
!testcases/*/dataset.tar.gz
testcases/*/librpa/*
!testcases/*/librpa/librpa.in
# Files to check read/restart features
!testcases/*/librpa/librpa.d_restart

!refs/*/*/*
!refs/*/*/*/*
